# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Databases
db.sqlite3

# Virtual environment
venv/
.venv/
env/
.env/

# Media and static files (if generated or uploaded locally)
media/
static_collected/

# IDE-specific files
.idea/
.vscode/
*.swp
*.bak
*.swo

# Environment variables and secrets
.env
*.env
secret_key.py # or any file containing sensitive data

# Logs
*.log

# Operating System Files
.DS_Store
Thumbs.db